<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>admin view</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>


<body>
<form th:action="@{/adminView}" method="post" class="form-horizontal col-sm-6 col-sm-offset-3">
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="redirect" value="toUserCrud">CRUD on users</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-10">
            <button class="btn btn-primary" type="submit" name="redirect" value="toItemCrud">CRUD on items</button>
        </div>
    </div>
</form>
</body>
</html>